body {
    min-width: 500px;
    min-height: 500px;
    background-color: #FFF;
    color: #313131;
    /*user-select: none;*/
}

input[type=radio] {
    margin: 5px 0 5px 0;
}

input[type=file] {
    margin: 5px 0 5px 0;
}

#content-wrap {
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

#logo-wrap {
    transform: rotate(90deg);
    letter-spacing: -1px;
    font-weight: bold;
}

#cookie-stack-3 {
    color: #008616;
    display: inline-block;
    transform: rotate(-12deg);
}

#cookie-stack-2 {
    color: #008616;
    display: inline-block;
    transform: rotate(-7deg);
}

#cookie-stack-1 {
    color: #008616;
    display: inline-block;
    transform: rotate(5deg);
}
#cookie-stack-0 {
    color: #008616;;
    display: inline-block;
}

.align-items-center {
    align-items: center;
}

.border {
    border: 1px solid #f5f5f5;
}

.border-bottom {
    border-bottom: 1px solid #f5f5f5;
}

.rounded {
    border-radius: 3px;
}

.circle {
    border-radius: 50%;
}

.cookie-domain {}

.cookie {}

.domain-wrap {}


.plus-icon {
    background-image: url('./icons/plus.svg');
}

.minus-icon {
    background-image: url('./icons/minus.svg');
}

.x-icon {
    background-image: url('./icons/plus.svg');
    rotate: 45deg;
}

.trash-icon {
    background-image: url('./icons/trash.svg');
}

.wrench-icon {
    background-image: url('./icons/wrench.svg');
}

.quadratic-15 {
    height: 15px;
    width: 15px;
}

.quadratic-30 {
    height: 30px;
    width: 30px;
}

.quadratic-40 {
    height: 40px;
    width: 40px;
}

.collapsed {
    display: none;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-end {
    justify-content: flex-end;
}

.flex-gap-5 {
    gap: 5px;
}

.flex-row {
    flex-direction: row;
}

.flex-spacebetween {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.interactive {
    background-color: #f5f5f5;
}

.interactive:hover {
    background-color: #fff;
}

.clickable {
    cursor: pointer;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fs-30 {
    font-size: 30px;
}

.p-5 {
    padding: 5px;
}

.minh-40 {
    min-height: 40px;
}

.mtb-5 {
    margin: 5px 0 5px 0;
}

.mtb-10 {
    margin: 10px 0 10px 0;
}

.vam {
    vertical-align: middle;
}