body {
  min-width: 500px;
  max-width: 500px;
  min-height: 500px;
  max-height: 500px;
  overflow: hidden;
  background-color: #FFF;
  color: #000;
  user-select: none;
}

#wrapper {
  padding: 5px;
}

#title {
  font-size: 16px;
  margin: 0 auto;
}

#subtitle {
  font-size: 14px;
  margin: 0 auto;
  color: #555555;
}

#content-wrap {
  padding: 1px 10px 0px 10px;
  margin: 5px 0px 5px 0px;
  min-height: 405px;
  max-height: 405px;
  overflow-y: scroll;
}

#info-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 32px;
  max-height: 32px;
  padding: 0px 5px 0px 5px;
  font-size: 12px;
}

.btn {
  border: none;
  background-color: #FFFFFF;
}

.btn:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

.border {
  border: 1px solid;
}

.border-top {
  border-top: 1px solid #d4d4d4;
}

.border-bottom {
  border-bottom: 1px solid #d4d4d4;
}

.rounded {
  border-radius: 3px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cookie-domain {
  min-height: 45px;
  font-size: 20px;
}

.cookie {
  align-items: center;
}

.cookie-domain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.domain-wrap {

}

.cookie-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 40px;
}

.cookie .attribute-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cookie .attribute-value {
  overflow-wrap: anywhere;
  font-size: 16px;
}

.cookie .attribute-name {
  font-size: 16px;
  color: #555555;
}

.shadow {
  box-shadow: 2px 2px 2px #555555;
}

.arrow-north {
  background-image: url('./icons/arrow-north.svg');
}

.arrow-south {
  background-image: url('./icons/arrow-south.svg');
}

.trash {
  background-image: url('./icons/trash.svg');
}

.quadratic-20 {
  height: 20px;
  width: 20px;
}

.quadratic-30 {
  height: 30px;
  width: 30px;
}

.collapsed {

}

.not-collapsed {
  display: none;
}
