body {
    min-width: 500px;
    min-height: 500px;
    background-color: #FFF;
    color: #000;
    /*user-select: none;*/
}

input[type=radio] {
    margin: 5px 0 5px 0;
}

input[type=file] {
    margin: 5px 0 5px 0;
}

#content-wrap {
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

.align-items-center {
    align-items: center;
}

.border {
    border: 1px solid #e7e7e7;
}

.border-top {
    border-top: 1px solid #e7e7e7;
}

.border-bottom {
    border-bottom: 1px solid #e7e7e7;
}

.rounded {
    border-radius: 3px;
}

.circle {
    border-radius: 50%;
}

.cookie-domain {}

.cookie {}

.domain-wrap {}


.plus-icon {
    background-image: url('./icons/plus.svg');
}

.minus-icon {
    background-image: url('./icons/minus.svg');
}

.trash-icon {
    background-image: url('./icons/trash.svg');
}

.wrench-icon {
    background-image: url('./icons/wrench.svg');
}

.quadratic-20 {
    height: 20px;
    width: 20px;
}

.quadratic-30 {
    height: 30px;
    width: 30px;
}

.quadratic-40 {
    height: 40px;
    width: 40px;
}

.collapsed {
    display: none;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
    gap: 5px;
}

.flex-spacebetween {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-end {
    justify-content: flex-end;
}

.clickable {
    cursor: pointer;
    background-color: #e7e7e7;
}

.clickable:hover {
    background-color: #FFFFFF;
}

.fs-12 {
    font-size: 12px;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.p2 {
    padding: 2px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.m-20 {
    margin: 20px;
}

.mb-20 {
    margin: 0 0 20px 0;
}

.minh-40 {
    min-height: 40px;
}

.mlr-10 {
    margin: 0 10px 0 10px;
}

.mlr-20 {
    margin: 0 20px 0 20px;
}

.mtb-5 {
    margin: 5px 0 5px 0;
}

.mtb-10 {
    margin: 10px 0 10px 0;
}

.mtb-20 {
    margin: 20px 0 20px 0;
}

.vam {
    vertical-align: middle;
}

.filter-item {
    padding: 2px;
}